
.li-langs{
    padding: 8px 8px;
}

.catalog-child a {
    color: #696763;
    margin-bottom: 25px;
}

.help-block{
    color: red;
    font-size: 12px;
    padding-left: 10px;
}




.menuChatChat {
    /* по-умолчанию скрыта */
    /*display: none;*/
    /* скругяем углы */
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    /* фиксируем позицию кнопки */
    position: fixed;
    /* размеры кнопки */
    width: 60px;
    height: 60px;
    /* положение кнопки */
    right: 1rem;
    bottom: 10rem;
    /* вид курсора */
    cursor: pointer;
    /* эффект перехода между двумя состояниями кнопки */
    -webkit-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1)
}
/* смещение кнопки вверх при наведении */

/* дополнительные элементы офрмления кнопки */

.menuChatChat:before,
.menuChatChat:after {
    content: "";
    top: 0;
    left: 0;
    background-color: #766DCC;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
}

/* определяем имя, тип и скорость анимации лля :before */
.menuChatChat:before {
    background-color: #736cad;
    -webkit-animation: clickMe 1.8s 333ms infinite ease-out;
    -moz-animation: clickMe 1.8s 333ms infinite ease-out;
    animation: clickMe 1.8s 333ms infinite ease-out
}

/* определяем имя, тип и скорость анимации лля :after */
.menuChatChat:after {
    -webkit-animation: clickMe 1.8s 777ms infinite ease-out;
    -moz-animation: clickMe 1.8s 777ms infinite ease-out;
    animation: clickMe 1.8s 777ms infinite ease-out
}

/* формируем вид иконки */
.menuChatChat i {
    width: 30px;
    height: 30px;
    display: block;
    background: rgba(28, 144, 243, 0.61);
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 1.3rem;
    background-size: 12px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 100
}





.menuChat {
    z-index: 999;
    position: fixed;
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.chatImg{
    width: 50px;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 1s infinite;
}
@-webkit-keyframes mymove {

}
@keyframes mymove {
    0%, 100%{
       transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
}

.menuChat .share i.fa {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    border-radius: 2px;
}
.menuChat .share:hover.bottom .submenuChat li:nth-child(1) {
    opacity: 1;
    top: 50px;
    transform: rotate(0deg);
    border-top: 1px dashed #cccccc;
    transition-delay: 0.08s;
}
.menuChat .share:hover.bottom .submenuChat li:nth-child(2) {
    opacity: 1;
    top: 100px;
    transform: rotate(0deg);
    border-top: 1px dashed #cccccc;
    transition-delay: 0.16s;
}
.menuChat .share:hover.bottom .submenuChat li:nth-child(3) {
    opacity: 1;
    top: 150px;
    transform: rotate(0deg);
    border-top: 1px dashed #cccccc;
    transition-delay: 0.24s;
}
.menuChat .share:hover.bottom .submenuChat li:nth-child(4) {
    opacity: 1;
    top: 200px;
    transform: rotate(0deg);
    border-top: 1px dashed #cccccc;
    transition-delay: 0.32s;
}
.menuChat .share:hover.bottom .submenuChat li:nth-child(5) {
    opacity: 1;
    top: 250px;
    transform: rotate(0deg);
    border-top: 1px dashed #cccccc;
    transition-delay: 0.4s;
}
.menuChat .share:hover.left .submenuChat li:nth-child(1) {
    opacity: 1;
    left: -51px;
    transform: rotate(0deg);
    transition-delay: 0.5s;
    border-right: 1px dashed #cccccc;
}
.menuChat .share:hover.left .submenuChat li:nth-child(2) {
    opacity: 1;
    left: -102px;
    transform: rotate(0deg);
    transition-delay: 1s;
    border-right: 1px dashed #cccccc;
}
.menuChat .share:hover.left .submenuChat li:nth-child(3) {
    opacity: 1;
    left: -153px;
    transform: rotate(0deg);
    transition-delay: 1.5s;
    border-right: 1px dashed #cccccc;
}
.menuChat .share:hover.left .submenuChat li:nth-child(4) {
    opacity: 1;
    left: -204px;
    transform: rotate(0deg);
    transition-delay: 2s;
    border-right: 1px dashed #cccccc;
}
.menuChat .share:hover.left .submenuChat li:nth-child(5) {
    opacity: 1;
    left: -255px;
    transform: rotate(0deg);
    transition-delay: 2.5s;
    border-right: 1px dashed #cccccc;
}
.menuChat .share:hover.right .submenuChat li:nth-child(1) {
    opacity: 1;
    left: 50px;
    transform: rotate(0deg);
    transition-delay: 0.08s;
    border-left: 1px dashed #cccccc;
}
.menuChat .share:hover.right .submenuChat li:nth-child(2) {
    opacity: 1;
    left: 100px;
    transform: rotate(0deg);
    transition-delay: 0.16s;
    border-left: 1px dashed #cccccc;
}
.menuChat .share:hover.right .submenuChat li:nth-child(3) {
    opacity: 1;
    left: 150px;
    transform: rotate(0deg);
    transition-delay: 0.24s;
    border-left: 1px dashed #cccccc;
}
.menuChat .share:hover.right .submenuChat li:nth-child(4) {
    opacity: 1;
    left: 200px;
    transform: rotate(0deg);
    transition-delay: 0.32s;
    border-left: 1px dashed #cccccc;
}
.menuChat .share:hover.right .submenuChat li:nth-child(5) {
    opacity: 1;
    left: 250px;
    transform: rotate(0deg);
    transition-delay: 0.4s;
    border-left: 1px dashed #cccccc;
}
.menuChat .share:hover.top .submenuChat li:nth-child(1) {
    opacity: 1;
    top: -51px;
    transition-delay: 0.08s;
    transform: rotateY(0deg);
    /*border-bottom: 1px dashed #d9d9d9;*/
}
.menuChat .share:hover.top .submenuChat li:nth-child(2) {
    opacity: 1;
    top: -102px;
    transition-delay: 0.16s;
    transform: rotateY(0deg);
    /*border-bottom: 1px dashed #d9d9d9;*/
}
.menuChat .share:hover.top .submenuChat li:nth-child(3) {
    opacity: 1;
    top: -153px;
    transition-delay: 0.24s;
    transform: rotateY(0deg);
    /*border-bottom: 1px dashed #d9d9d9;*/
}
.menuChat .share:hover.top .submenuChat li:nth-child(4) {
    opacity: 1;
    top: -204px;
    transition-delay: 0.32s;
    transform: rotateY(0deg);
    /*border-bottom: 1px dashed #d9d9d9;*/
}
.menuChat .share:hover.top .submenuChat li:nth-child(5) {
    opacity: 1;
    top: -255px;
    transition-delay: 0.4s;
    transform: rotateY(0deg);
    /*border-bottom: 1px dashed #d9d9d9;*/
}
.menuChat .submenuChat {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menuChat .submenuChat li {
    transition: all ease-in-out 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}
.menuChat .submenuChat li a {
    color: #212121;
}
.menuChat .submenuChat li a:hover i.fa {
    color: #fff;
}
.menuChat .submenuChat li a:hover.facebook i.fa {
    background-color: #3b5999;
}
.menuChat .submenuChat li a:hover.twitter i.fa {
    background-color: #55acee;
}
.menuChat .submenuChat li a:hover.googlePlus i.fa {
    background-color: #dd4b39;
}
.menuChat .submenuChat li a:hover.instagram i.fa {
    background-color: #e4405f;
}
.menuChat .submenuChat li:nth-child(1) {
    transform: rotateX(45deg);
}
.menuChat .submenuChat li:nth-child(2) {
    transform: rotateX(90deg);
}
.menuChat .submenuChat li:nth-child(3) {
    transform: rotateX(135deg);
}
.menuChat .submenuChat li:nth-child(4) {
    transform: rotateX(180deg);
}
.menuChat.topLeft {
    top: 10px;
    left: 10px;
}
.menuChat.topRight {
    top: 10px;
    right: 10px;
}
.menuChat.bottomLeft {
    bottom: 10px;
    left: 10px;
}
.menuChat.bottomRight {
    bottom: 40%;
    right: 5px;
}

.isFavorite{
    color: red !important;
}

.notifyBox{
    background: #888fe0;
    color: white;
    border: #474747 solid 1px;
    border-radius: 50%;
    padding: 5px 5px;
    position: absolute;
    top: -7px;
    right: -7px;
    width: 29px;
    text-align: center;
    z-index: 1;
}

.notNotifyBox{
    display: none;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    /*box-shadow: 0;*/
    display: inline;
}

section{
    min-height: 500px;
}

#coupon .input-group{
    width: 50%;
}


.busy {
    position: relative;
}

.busy:before, .busy:after {
    content: '';
    display: block;
    position: absolute;
}

.busy:before {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 999;
}

.busy:after {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
    z-index: 4;
    border: 5px solid #ffffff;
    border-top-color: #fe5621;
    border-radius: 100%;
    -webkit-animation: loading2 linear .7s infinite;
    animation: loading2 linear .7s infinite;
}

.busy {
    position: relative;
}

.busy:before, .busy:after {
    content: '';
    display: block;
    position: absolute;
}

.busy:before {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 999;
}

.busy:after {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
    z-index: 4;
    border: 5px solid #ffffff;
    border-top-color: #fe5621;
    border-radius: 100%;
    -webkit-animation: loading2 linear .7s infinite;
    animation: loading2 linear .7s infinite;
}


.product-img{
    min-height: 220px;
}

.product-description{
    text-align: center;
}

.footer-area{
   margin-top: 20px;
}

.page-content{
    min-height: 560px;
}